.room-toogle:hover .room-categories {
    display: block;
}

.room-categories {
    top: calc(100% + 6px);
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.4);
}

.room-categories::before {
    content: "";
    position: absolute;
    border-color: transparent transparent #fff transparent;
    border-width: 10px 10px;
    border-style: solid;
    top: -18px;
    left: 10px;
}

.room-categories::after {
    content: "";
    position: absolute;
    width: 66%;
    height: 10%;
    top: -14px;
    left: 0;
}

.product-cell:hover {
    border: 1px solid #666666d9;
    transition: border 0.5s ease-out;
}

.product-cell:hover .product-actions {
    display: flex;
    transition: display 0.5s ease-out;
}

.divider {
    background-color: #6e6e73;
    display: block;
    height: 3px;
    margin: 1em 0;
    max-width: 30px;
    width: 100%;
}

#toogle-product-categories:checked ~ .product-categories-blurring {
    display: block;
}

#toogle-product-categories:checked ~ .product-categories {
    transform: translateX(100%);
}

.product-categories {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

#expand-categories-child:checked + ul {
    display: block;
}

.account-icon:hover .account-action-list {
    display: block;
}

.active {
    color: #dd9933;
}

.account-action-list {
    display: none;
    top: calc(100% + 6px);
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.4);
    right: 0;
}

.account-action-list::before {
    content: "";
    position: absolute;
    border-color: transparent transparent #fff transparent;
    border-width: 10px 10px;
    border-style: solid;
    top: -18px;
    right: 0px;
}

.account-action-list::after {
    content: "";
    position: absolute;
    width: 66%;
    height: 10%;
    top: -15px;
    right: 0;
}

.discount-label::after {
    content: "";
    position: absolute;
    border-color: #dc2626 #dc2626 transparent #dc2626;
    border-width: 10px 23px;
    border-style: solid;
    top: calc(100%);
    left: 0;
}

#topbar-search-result {
    z-index: 50;
    position: absolute;
    top: calc(100% + 6px);
    width: 90%;
    max-height: 500px;
    overflow: auto;
    background-color: #fff;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 1);
}
